---
import AboutHeroImage from '../assets/離脱.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="幽体離脱"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		幽体りだつ～
	</p>
</Layout>
