---
import AboutHeroImage from '../assets/音楽.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
title="Create"
description="Music Archive"
pubDate={new Date('August 08 2021')}
heroImage={AboutHeroImage}




<h4>隠し言</h4>
<div class="youtube">
	<iframe
		src="https://www.youtube.com/embed/w3Ksml83yOs"
		title="隠し言"
		allowfullscreen>
	</iframe>
</div>

<br><br>

<h4>残酷</h4>

<div class="youtube">
	<iframe
		src="https://www.youtube.com/embed/8a_pN7Qthug"
		title="残酷"
		allowfullscreen>
	</iframe>
</div>

<br><br>

<h4>GIFT</h4>

<div class="youtube">
	<iframe
		src="https://www.youtube.com/embed/76AzmsGdMKg"
		title="残酷"
		allowfullscreen>
	</iframe>
</div>

<style>
	.youtube {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
		margin-bottom: 2rem;
	}

	.youtube iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
</style>