---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/images/top.png" alt="Brain Archive Archivist" class="hero-image" />

	<h1>Naoyuki Takahashi</h1>

	<h2>Brain Archive</h2>

	<p>
		僕の脳みその踊り場。
	</p>

	<p>
		興味があったら、覗いてごらん。
	</p>

	<p>
		いつかファンタスティックになりたいな。
	</p>
	<hr />

<h2>Recent Updates</h2>

<ul>
	{
		posts.map((post) => (
			<li>
				<a href={`/blog/${post.id}/`}>
					{post.data.title}
				</a>
			</li>
		))
	}
</ul>
		</main>
		<Footer />
	</body>
</html>
