---
import AboutHeroImage from '../assets/離脱.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Music"
	description="Music Archive"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<h4>隠し言</h4>

	<iframe
		width="100%"
		height="500"
		src="https://www.youtube.com/embed/w3Ksml83yOs"
		title="YouTube video player"
		allowfullscreen>
	</iframe><br><br><br>

	<h4>残酷</h4>

	<iframe
		width="100%"
		height="500"
		src="https://www.youtube.com/embed/8a_pN7Qthug"
		title="YouTube video player"
		allowfullscreen>
	</iframe>

</Layout>
